<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title ?? site:name }}</title>
  {{ vite src="resources/js/site.js|resources/css/site.css" }}
</head>
<body class="bg-gray-100 font-sans leading-normal text-gray-800">

<div class="mx-auto lg:min-h-screen flex flex-col items-center justify-center">
  <div class="flex flex-wrap p-6">
    <div class="w-full mx-auto lg:w-1/2 p-6">
      <div class="bg-white p-6 rounded-xl shadow-lg">
        {{ if entry:replicator }}
          {{ entry:replicator }}
            {{ if type == "new_set" }}
              <div class="block w-full py-5 border-b">{{ textarea }}</div>
              {{ testo_e_foto }}
                {{ if type == "new_set" }}
                  <div class="flex flex-wrap items-center -mx-4 py-5">
                    <div class="w-full md:w-1/2 px-4 mb-4 lg:mb-0">
                      {{ if immagine }}
                        <img src="{{ immagine[0] }}" class="my-3 rounded-xl">
                      {{ /if }}
                    </div>
                    <div class="w-full md:w-1/2 px-4">
                      <!-- Output the title -->
                      <h3 class="text-md font-bold font-heading mb-1">{{ titolo }}</h3>
                      <!-- Output the text -->
                      <p class="text-sm text-gray-500 italic">{{ testo }}</p>
                    </div>
                  </div>
                {{ /if }}
              {{ /testo_e_foto }}
            {{ /if }}
          {{ /entry:replicator }}
        {{ /if }}
      </div>
    </div>
  </div>
</div>

</body>
</html>
